* {
    font-family: "Roboto";
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.logo{
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 24px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    display: flex;
    gap: 10px;
}

.first{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 30px 0;
}


.first-left{
    max-width: 430px;
    margin: 50px;
}

.title{
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.subtext{
    font-size: 20px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button{
    background-color: #3882F6;
    color: white;
    border: 5px;
    font-size: 18px;
    padding: 7px 20px;
    font-weight: bold;
    border-radius: 8px;
}

.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
    gap: 15px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.items{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    gap: 10px;
    align-items: center;
    font-size: 12px;
}

.third{
    display: flex;
}

.fourth{
    display: flex;
}

.footer{
    display:flex;
}