* {
    font-family: "Roboto";
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-grow: 1;
    justify-content: center;    
    width: 200vh;
    height: 200vh;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 24px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    display: flex;
    gap: 10px;
}

.first{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 30px 0;
}


.first-left{
    max-width: 430px;
    margin: 50px;
}

.title{
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.subtext{
    font-size: 20px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button{
    background-color: #3882F6;
    color: white;
    border: 5px;
    font-size: 18px;
    padding: 7px 20px;
    font-weight: bold;
    border-radius: 8px;
}

.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 160px;
    gap: 15px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.items{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    gap: 10px;
    align-items: center;
    font-size: 12px;
}

.third{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: flex-end;
    padding: 100px 0;
}

.quote, .attribution{
    width: 700px;
    display: flex;
}

.quote{
    margin: 10px;
    font-size: 36px;
    font-style: italic;
}

.attribution{
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
}

.fourth{
    padding: 60px 0;
}

.fourth-interior{
    margin: 60px 500px;
    padding: 60px 90px;
    border-radius: 8px;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourth button{
    padding: 7px 30px;
    border: 1px solid white;
}

.footer{
    display:flex;
    padding: 30px 0;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
}