* {
    font-family: "Roboto";
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 24px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    display: flex;
    gap: 10px;
}